/* applies to all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* background image and color */
body {
    background: rgb(139, 161, 232);
    background-image: url("assets/RainFalling.gif");
}

/*nav bar styling*/
.navbar ul {
    list-style-type: none;
    background-color: rgba(217, 217, 217, 0.5);
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

/* Style the right elements and their links */
.navbar .right {
    float: right;
}

/*nav bar elements styling*/
.navbar a{
    color: rgb(12, 49, 7);
    text-decoration:wavy;
    padding: 15px;
}

/*nav bar hover styling*/
.navbar a:hover {
    background-color: rgb(124, 124, 124, 40%);
}

/*nav bar list format styling*/
.navbar li{
    float: left;
}

/*styling for ice cream image on right*/
img.ice-cream-right {
    position: absolute;
    top: 42%; /* Move the image 45% down from the top */
    right: 0; 
    transform: translateY(-25%); /* Center the image vertically */
}

/*styling for ice cream image on right*/
img.ice-cream-left {
    position: absolute;
    top: 42%; /* Move the image 45% down from the top */
    left: 0; 
    transform: translateY(-25%); /* Center the image vertically */
}

/* Broken Rectanlge Styling */
.broken{
    width: 50%;
    height: 250px;
    background: radial-gradient(
        50% 50%, rgb(43, 13, 154), rgb(88, 126, 213)
    );
    border-radius: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;

    pointer-events: none;
}

.report {
    width: 50%;
    height: 250px;
    background: radial-gradient(
        50% 50%, rgb(43, 13, 154), rgb(88, 126, 213)
    );
    border-radius: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0;

    pointer-events: none;
}

/* Text in Rectangle Styling */
.center {
    color: rgb(255, 255, 255); 
    font-size: 100px;
    font-weight: bolder;
}