/* applies to all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* background image and color */
body {
    background: rgb(179, 229, 179);
    background-image: url("assets/ConfettiBackground.gif");
}

/*nav bar styling*/
.navbar ul {
    list-style-type: none;
    background-color: rgb(217, 217, 217, 0.5);
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

/*nav bar elements styling*/
.navbar a{
    color: rgb(12, 49, 7);
    text-decoration:wavy;
    padding: 15px;
}

/*nav bar hover styling*/
.navbar a:hover {
    background-color: rgb(124, 124, 124, 40%);
}

/*nav bar list format styling*/
.navbar li{
    float: left;
}

/*styling for ice cream image on right*/
img.ice-cream-right {
    position: absolute;
    top: 45%; /* Move the image 45% down from the top */
    right: 0; 
    transform: translateY(-25%); /* Center the image vertically */
}

/*styling for ice cream image on right*/
img.ice-cream-left {
    position: absolute;
    top: 45%; /* Move the image 45% down from the top */
    left: 0; 
    transform: translateY(-25%); /* Center the image vertically */
}

/*Works Rectanlge Styling */
.works{
    width: 50%;
    height: 250px;
    background: radial-gradient(
        50% 50%, rgb(10, 60, 7), rgb(35, 194, 35)
    );
    border-radius: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0;

    pointer-events: none;
}

/* Text in Rectangle Styling */
.worksText {
    color: rgb(255, 255, 255); 
    font-size: 8em;
    font-weight: bolder;
}

/* Report status rectangle styling */
.report {
    width: 30%;
    height: 150px;
    background: radial-gradient(
        50% 50%, rgb(80, 174, 3), rgb(112, 233, 91)
    );
    border-radius: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0;
}

/*text in reportText styling*/
.reportText {
    color: white;
    font-size: 2em;
}

/*hyperlink text in report*/
.reportHyperLink {
    text-decoration: none;
}