/* applies to all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

/* background image and color */
body {
    background: rgb(139, 161, 232);
    background-image: url("../../assets/RainFalling.gif");
}

/*styling for ice cream image on right*/
img.ice-cream-right {
    position: absolute;
    top: 40%; /* Move the image 45% down from the top */
    right: 0; 
    transform: translateY(-25%); /* Center the image vertically */
}

/*styling for ice cream image on right*/
img.ice-cream-left {
    position: absolute;
    top: 40%; /* Move the image 45% down from the top */
    left: 0; 
    transform: translateY(-25%); /* Center the image vertically */
}

/* Broken Rectanlge Styling */
.broken{
    width: 50%;
    height: 250px;
    background: radial-gradient(
        50% 50%, rgb(43, 13, 154), rgb(88, 126, 213)
    );
    border-radius: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px auto 0;

    pointer-events: none;
}

/* Text in Broken Rectangle Styling */
.brokenText {
    color: rgb(255, 255, 255); 
    font-size: 8em;
    font-weight: bolder;
}

/* Report status rectangle styling */
.report {
    width: 30%;
    height: 150px;
    background: radial-gradient(
        50% 50%, rgb(112, 193, 255), rgb(40, 136, 220)
    );
    border-radius: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em auto 0;
}

/*text in reportText styling*/
.reportText {
    color: white;
    font-size: 33px;
}

/*hyperlink text in report*/
.reportHyperLink {
    text-decoration: none;
}
